/* Configuración General */
body {
    background-color: #dcdcdc;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.contenedor-principal {
    width: 1000px;
    background-color: #e3e6b8; /* Fondo beige */
    border: 2px solid #f9a825;
    min-height: 500px;
}

/* Header Azul */
.header-azul {
    background-color: #3b9dbf;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.btn-regresar {
    padding: 15px 25px;
    border: 1px solid #555;
    background-color: #3b9dbf;
    cursor: pointer;
    font-size: 14px;
}

.titulo-central {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Tabla */
.cuerpo-tabla {
    padding: 20px;
}

.tabla-datos {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    min-height: 350px; /* Para que se vea grande como en la imagen */
}

.tabla-datos th, .tabla-datos td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.tabla-datos th {
    background-color: #ffffff;
    font-weight: normal;
    color: #333;
}

/* Estilo para simular celdas vacías */
.tabla-datos td {
    height: 25px;
}